a{

	list-style:none;
	text-decoration: none;
	text-transform: uppercase;
	font-family:Roboto;
	color: orange;

}

tr {

    list-style:none;
	text-decoration: none;
	text-transform: uppercase;
	font-family:Roboto;
	color: black;
}


img {
	
	width: 70px;
    border-radius: 35px;
    margin: 10px 15px 0 0;
}
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}
